.navbar-container{
    background-color: #eee;
    height: 100vh;
    min-width: 300px;
    overflow: visible;
    padding: 10px 40px;
}

.navbar-container ul{
    padding: 0;
}
.navbar-container ul li{
    list-style: none;
    padding: 8px 0px;
}
.navbar-container ul li a{
 text-decoration: none;
 transition: 3ms;
}

.navbar-container ul li a:hover{
    background-color: #F33823;
    color: #fff;
    padding: 4px 8px;
    transition: 3ms;
}